# Pandas basics

In [9]:
!ls

01-pandas basics.ipynb continent_facts.csv    countries.csv

In [10]:
%pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: /Library/Frameworks/Python.framework/Versions/3.11/bin/python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [11]:
!pip show pandas

Name: pandas
Version: 2.2.2
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: /Users/carlyschulman/.pyenv/versions/3.11.8/lib/python3.11/site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by:

In [12]:
import requests

In [13]:
import pandas as pd

In [14]:
pd.read_csv("countries.csv")

,country,continent,life_expectancy,population,gdp
0,Afghanistan,Asia,54.863,22856302,15153728226
1,Albania,Europe,74.200,3071856,12886435920
2,Algeria,Africa,68.963,30533827,155661450046
3,Angola,Africa,45.234,13926373,34063908358
4,Antigua and Barbuda,N. America,73.544,77656,989182128
...,...,...,...,...,...
183,Vietnam,Asia,73.777,78758010,124201381770
184,West Bank and Gaza,Asia,70.929,3198560,24264276160
185,"Yemen, Rep.",Asia,60.404,17723186,39292303362
186,Zambia,Africa,41.802,10201562,10558616670
187,Zimbabwe,Africa,43.976,12509477,9319560365

In [15]:
df = pd.read_csv("countries.csv")
df

,country,continent,life_expectancy,population,gdp
0,Afghanistan,Asia,54.863,22856302,15153728226
1,Albania,Europe,74.200,3071856,12886435920
2,Algeria,Africa,68.963,30533827,155661450046
3,Angola,Africa,45.234,13926373,34063908358
4,Antigua and Barbuda,N. America,73.544,77656,989182128
...,...,...,...,...,...
183,Vietnam,Asia,73.777,78758010,124201381770
184,West Bank and Gaza,Asia,70.929,3198560,24264276160
185,"Yemen, Rep.",Asia,60.404,17723186,39292303362
186,Zambia,Africa,41.802,10201562,10558616670
187,Zimbabwe,Africa,43.976,12509477,9319560365

In [16]:
!ls

01-pandas basics.ipynb continent_facts.csv    countries.csv

In [17]:
df.life_expectancy

0      54.863
1      74.200
2      68.963
3      45.234
4      73.544
        ...
183    73.777
184    70.929
185    60.404
186    41.802
187    43.976
Name: life_expectancy, Length: 188, dtype: float64

In [18]:
df['life_expectancy']

0      54.863
1      74.200
2      68.963
3      45.234
4      73.544
        ...
183    73.777
184    70.929
185    60.404
186    41.802
187    43.976
Name: life_expectancy, Length: 188, dtype: float64

In [19]:
df.sort_values('life_expectancy')

,country,continent,life_expectancy,population,gdp
147,Sierra Leone,Africa,38.123,4143115,2141990455
186,Zambia,Africa,41.802,10201562,10558616670
31,Central African Rep.,Africa,43.727,3701607,2820624534
187,Zimbabwe,Africa,43.976,12509477,9319560365
3,Angola,Africa,45.234,13926373,34063908358
...,...,...,...,...,...
160,Sweden,Europe,79.840,8860153,253754781920
7,Australia,Oceania,79.930,19164351,560384787591
161,Switzerland,Europe,79.990,7167908,246475684488
72,"Hong Kong, China",Asia,80.361,6783317,203309577124
83,Japan,Asia,81.350,125720310,3590446333290

In [20]:
df.head()

               country   continent  life_expectancy  population           gdp
0          Afghanistan        Asia           54.863    22856302   15153728226
1              Albania      Europe           74.200     3071856   12886435920
2              Algeria      Africa           68.963    30533827  155661450046
3               Angola      Africa           45.234    13926373   34063908358
4  Antigua and Barbuda  N. America           73.544       77656     989182128

In [21]:
df.head().tail()

               country   continent  life_expectancy  population           gdp
0          Afghanistan        Asia           54.863    22856302   15153728226
1              Albania      Europe           74.200     3071856   12886435920
2              Algeria      Africa           68.963    30533827  155661450046
3               Angola      Africa           45.234    13926373   34063908358
4  Antigua and Barbuda  N. America           73.544       77656     989182128

In [22]:
df.sort_values('life_expectancy', ascending =False).head(10)

              country   continent  life_expectancy  population            gdp
83              Japan        Asia           81.350   125720310  3590446333290
72   Hong Kong, China        Asia           80.361     6783317   203309577124
161       Switzerland      Europe           79.990     7167908   246475684488
7           Australia     Oceania           79.930    19164351   560384787591
160            Sweden      Europe           79.840     8860153   253754781920
81              Italy      Europe           79.730    56986329  1547748695640
74            Iceland      Europe           79.720      281210     8743381320
29             Canada  N. America           79.410    30667365   995094659520
155             Spain      Europe           79.340    40288457   943152778370
57             France      Europe           79.230    59047795  1690892657620

In [23]:
df[df['life_expectancy']>80]

             country continent  life_expectancy  population            gdp
72  Hong Kong, China      Asia           80.361     6783317   203309577124
83             Japan      Asia           81.350   125720310  3590446333290

In [24]:
df['life_expectancy'].mean()

66.50153603526596

In [25]:
df['gdp'].sum()

48316204002444

In [26]:
df[['life_expectancy','gdp']].corr()

                 life_expectancy       gdp
life_expectancy         1.000000  0.209858
gdp                     0.209858  1.000000

In [27]:
df['gdp_pc'] = df['gdp']/df['population']

In [28]:
%pip install lxml

Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (5.2.2)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: /Library/Frameworks/Python.framework/Versions/3.11/bin/python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [29]:
import lxml

In [32]:
import pandas as pd

url = "https://www.theguardian.com/football/laligafootball/table"
tables = pd.read_html(url)
len(tables)
tables [0]

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1002)>

In [31]:
df = tables[0]
df.head()

NameError: name 'tables' is not defined

In [33]:
df.to_csv(("teams.csv"), index = False)

In [34]:
import requests

url = "http://api.weatherapi.com/v1/forecast.json?key=1deea713c0524e4abd621042220711&q=London&days=3&aqi=yes&alerts=no"
response = requests.get(url)
data = response.json()

In [35]:
pd.DataFrame(data['forecast']['forecastday'])

,date,date_epoch,day,astro,hour
0,2024-06-12,1718150400,"{'maxtemp_c': 15.9, 'maxtemp_f': 60.7, 'mintem...","{'sunrise': '04:43 AM', 'sunset': '09:18 PM', ...","[{'time_epoch': 1718146800, 'time': '2024-06-1..."
1,2024-06-13,1718236800,"{'maxtemp_c': 15.8, 'maxtemp_f': 60.5, 'mintem...","{'sunrise': '04:43 AM', 'sunset': '09:19 PM', ...","[{'time_epoch': 1718233200, 'time': '2024-06-1..."
2,2024-06-14,1718323200,"{'maxtemp_c': 18.7, 'maxtemp_f': 65.6, 'mintem...","{'sunrise': '04:42 AM', 'sunset': '09:19 PM', ...","[{'time_epoch': 1718319600, 'time': '2024-06-1..."

In [36]:
pd.json_normalize(data['forecast']['forecastday'])

,date,date_epoch,hour,day.maxtemp_c,day.maxtemp_f,day.mintemp_c,day.mintemp_f,day.avgtemp_c,day.avgtemp_f,day.maxwind_mph,...,day.condition.code,day.uv,astro.sunrise,astro.sunset,astro.moonrise,astro.moonset,astro.moon_phase,astro.moon_illumination,astro.is_moon_up,astro.is_sun_up
0,2024-06-12,1718150400,"[{'time_epoch': 1718146800, 'time': '2024-06-1...",15.9,60.7,7.7,45.8,12.3,54.1,7.4,...,1063,3.0,04:43 AM,09:18 PM,10:45 AM,01:03 AM,Waxing Crescent,29,1,0
1,2024-06-13,1718236800,"[{'time_epoch': 1718233200, 'time': '2024-06-1...",15.8,60.5,8.4,47.0,12.2,54.0,14.3,...,1063,4.0,04:43 AM,09:19 PM,11:57 AM,01:15 AM,Waxing Crescent,38,1,0
2,2024-06-14,1718323200,"[{'time_epoch': 1718319600, 'time': '2024-06-1...",18.7,65.6,11.9,53.5,14.6,58.3,15.2,...,1063,6.0,04:42 AM,09:19 PM,01:07 PM,01:26 AM,First Quarter,48,1,0

In [39]:
pd.json_normalize(data['forecast']['forecastday'])

,date,date_epoch,hour,day.maxtemp_c,day.maxtemp_f,day.mintemp_c,day.mintemp_f,day.avgtemp_c,day.avgtemp_f,day.maxwind_mph,...,day.condition.code,day.uv,astro.sunrise,astro.sunset,astro.moonrise,astro.moonset,astro.moon_phase,astro.moon_illumination,astro.is_moon_up,astro.is_sun_up
0,2024-06-12,1718150400,"[{'time_epoch': 1718146800, 'time': '2024-06-1...",15.9,60.7,7.7,45.8,12.3,54.1,7.4,...,1063,3.0,04:43 AM,09:18 PM,10:45 AM,01:03 AM,Waxing Crescent,29,1,0
1,2024-06-13,1718236800,"[{'time_epoch': 1718233200, 'time': '2024-06-1...",15.8,60.5,8.4,47.0,12.2,54.0,14.3,...,1063,4.0,04:43 AM,09:19 PM,11:57 AM,01:15 AM,Waxing Crescent,38,1,0
2,2024-06-14,1718323200,"[{'time_epoch': 1718319600, 'time': '2024-06-1...",18.7,65.6,11.9,53.5,14.6,58.3,15.2,...,1063,6.0,04:42 AM,09:19 PM,01:07 PM,01:26 AM,First Quarter,48,1,0

In [40]:
pd.json_normalize(data['forecast']['forecastday'])

,date,date_epoch,hour,day.maxtemp_c,day.maxtemp_f,day.mintemp_c,day.mintemp_f,day.avgtemp_c,day.avgtemp_f,day.maxwind_mph,...,day.condition.code,day.uv,astro.sunrise,astro.sunset,astro.moonrise,astro.moonset,astro.moon_phase,astro.moon_illumination,astro.is_moon_up,astro.is_sun_up
0,2024-06-12,1718150400,"[{'time_epoch': 1718146800, 'time': '2024-06-1...",15.9,60.7,7.7,45.8,12.3,54.1,7.4,...,1063,3.0,04:43 AM,09:18 PM,10:45 AM,01:03 AM,Waxing Crescent,29,1,0
1,2024-06-13,1718236800,"[{'time_epoch': 1718233200, 'time': '2024-06-1...",15.8,60.5,8.4,47.0,12.2,54.0,14.3,...,1063,4.0,04:43 AM,09:19 PM,11:57 AM,01:15 AM,Waxing Crescent,38,1,0
2,2024-06-14,1718323200,"[{'time_epoch': 1718319600, 'time': '2024-06-1...",18.7,65.6,11.9,53.5,14.6,58.3,15.2,...,1063,6.0,04:42 AM,09:19 PM,01:07 PM,01:26 AM,First Quarter,48,1,0